/* started with the same font family as the index.html page for continuity */
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* this container holds the whole page and centers everything */
.container {
    padding: 25px;
    text-align: center;
}

/* small edits to the text on the page*/
header {
    padding: 25px;
    font-size: 40px;
}

header form {
    padding: 5px;
    font-size: 20px;
}

li {
    padding: 25px;
    font-size: 26px;
}
