/* always start with a universal style */
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* for the title of the page */
header {
    padding: 20px;
    text-align: center;
    font-size: 40px;
}

/* styling for the timer counting down */
#timer {
    visibility: hidden;
    padding: 10px;
    text-align: center;
    font-size: 22px;
}

/* for the rules section just below the timer */
#rules {
    text-align: center;
    visibility: visible;
}

/* for the main quiz section of the page */
article, h2 {
    visibility: hidden;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 15px
}

/* h2 will hold each question */
h2 {
    font-size: 20px;
}

p {
    padding: 5px;
}

/* the aside holds the form at the end of the quiz */
aside {
    visibility: hidden;
    text-align: center;
    padding: 5px;
    margin: 15px
}