* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    padding: 20px;
    text-align: center;
    font-size: 40px;
}


h2 {
    font-size: 20px;
}

#timer {
    visibility: hidden;
    padding: 10px;
    text-align: center;
    font-size: 22px;
}

#rules {
    text-align: center;
    visibility: visible;
}

article, h2 {
    visibility: hidden;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 15px
}

#q1btns, #q2btns, #q3btns, #q4btns, #q5btns {
    display: inline-block;
    visibility: hidden;
}

p {
    padding: 5px;
}

aside {
    visibility: hidden;
    text-align: center;
    padding: 5px;
    margin: 15px
}